@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@font-face {
  font-family: "Mulish";
  src: local("Mulish"), url(../styles/fonts/Mulish-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "GalleryModern";
  src: local("GalleryModern"), url(../styles/fonts/GalleryModern.woff2) format("woff2");
}

.font-gallery {
  font-family: "GalleryModern", serif
}
@layer components {
  .outline-title {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 1px black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  .dark-outline-title {
    color: rgba(255, 255, 255, 0);
    -webkit-text-stroke: 1px white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
  .not-outline-title {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }
}


:root {
  --color-yellow-10: #f5efe8;
  --color-yellow-30: #e9d8c9;
  --color-yellow-100: #b47b48;
  --color-brown-light: #e4d8c0; 
  --color-brown-dark: #daccb1;
  --color-green: #d7d9cd;
  --color-grey: #d4d7d6;
  --color-dark: #282423;
}
